*{margin:0px;padding:0px;}
.all{margin-left:30px;}

.a{}
.a1{height:45px;}


.a2{height:45px;}
.a2-1{float:left;}
.a2-2{float:left;}
.a2-3{float:left;}


.a3{height:45px;}








.b{}
.bb{}


.b1{height:30px;background:#1bd8f2;}
.b1-1{border:1px solid #8e8e8d;width:30px;}
.b1-2{border:1px solid #8e8e8d;width:120px;}
.b1-3{border:1px solid #8e8e8d;width:110px;}
.b1-4{border:1px solid #8e8e8d;width:90px;}
.b1-5{border:1px solid #8e8e8d;width:350px;}
.b1-6{border:1px solid #8e8e8d;width:450px;}


.b2{height:60px;}
.b2-1{border:1px solid #8e8e8d;width:30px;}
.b2-2{border:1px solid #8e8e8d;width:120px;}
.b2-3{border:1px solid #8e8e8d;width:110px;}
.b2-4{border:1px solid #8e8e8d;width:90px;}
.b2-5{border:1px solid #8e8e8d;width:350px;}
.b2-6{border:1px solid #8e8e8d;width:450px;}


.b3{height:70px;}
.b3-1{border:1px solid #8e8e8d;width:30px;}
.b3-2{border:1px solid #8e8e8d;width:120px;}
.b3-3{border:1px solid #8e8e8d;width:110px;}
.b3-4{border:1px solid #8e8e8d;width:90px;}
.b3-5{border:1px solid #8e8e8d;width:350px;}
.b3-6{border:1px solid #8e8e8d;width:450px;}


.b4{height:40px;}
.b4-1{border:1px solid #8e8e8d;width:30px;}
.b4-2{border:1px solid #8e8e8d;width:120px;}
.b4-3{border:1px solid #8e8e8d;width:110px;}
.b4-4{border:1px solid #8e8e8d;width:90px;}
.b4-5{border:1px solid #8e8e8d;width:350px;}
.b4-6{border:1px solid #8e8e8d;width:450px;}


.b5{height:100px;}
.b5-1{border:1px solid #8e8e8d;width:30px;}
.b5-2{border:1px solid #8e8e8d;width:120px;}
.b5-3{border:1px solid #8e8e8d;width:110px;}
.b5-4{border:1px solid #8e8e8d;width:90px;}
.b5-5{border:1px solid #8e8e8d;width:350px;}
.b5-6{border:1px solid #8e8e8d;width:450px;}


.b6{height:70px;}
.b6-1{border:1px solid #8e8e8d;width:30px;}
.b6-2{border:1px solid #8e8e8d;width:120px;}
.b6-3{border:1px solid #8e8e8d;width:110px;}
.b6-4{border:1px solid #8e8e8d;width:90px;}
.b6-5{border:1px solid #8e8e8d;width:350px;}
.b6-6{border:1px solid #8e8e8d;width:450px;}


.b7{height:70px;}
.b7-1{border:1px solid #8e8e8d;width:30px;}
.b7-2{border:1px solid #8e8e8d;width:120px;}
.b7-3{border:1px solid #8e8e8d;width:110px;}
.b7-4{border:1px solid #8e8e8d;width:90px;}
.b7-5{border:1px solid #8e8e8d;width:350px;}
.b7-6{border:1px solid #8e8e8d;width:450px;}

.b8{height:70px;}
.b8-1{border:1px solid #8e8e8d;width:30px;}
.b8-2{border:1px solid #8e8e8d;width:120px;}
.b8-3{border:1px solid #8e8e8d;width:110px;}
.b8-4{border:1px solid #8e8e8d;width:90px;}
.b8-5{border:1px solid #8e8e8d;width:350px;}
.b8-6{border:1px solid #8e8e8d;width:450px;}